<section class="w-full h-full bg-cover bg-center" style="background-image: url('./assets/images/naboo-resort-1.jpg')">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-white">RESORTS</h1>
        <button class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">MORE</button>
      </div>
    </div>
</section>
<section class="w-full h-full bg-cover bg-center" style="background-image: url('./assets/images/naboo-hotel-interior-1.jpg')">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-white">HOTELS</h1>
        <button class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">MORE</button>
      </div>
    </div>
</section>
<section class="w-full h-full bg-cover bg-center" style="background-image: url('./assets/images/surfing-naboo.jpg')">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-white">LIVEBOARDS</h1>
        <button class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">MORE</button>
      </div>
    </div>
</section>
<section class="w-full h-full bg-cover bg-center" style="background-image: url('./assets/images/naboo-guesthouses.jpg')">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-white">GUESTHOUSES</h1>
        <button class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">MORE</button>
      </div>
    </div>
</section>